/*@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular.ttf) format("truetype");
}*/
*, *:before, *:after{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.wrapper{
  width: 1250px;
  margin: 0 auto;
}
.section-block {
  height: 100vh;
  width: 100vw;
}

.video-fon{
  position: absolute;
}
/*затемнение видео, для читабельности текста на нём*/
.video-fon:before{
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.15);
}
.video-fon, .video-block{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 20% 50%;
}

.section-block .header{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 120px;
}
.header__logo{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu{
  width: 60%;
}
.header__menu-items{
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20%;
}
.header__menu-items li{
  display: block;
}
.header__menu__link{
  position: relative;
  color: #fff;
  padding: 0 10px 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.header__menu__link:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  height: 1px;
  margin: auto;
  background-color: #fff;
}
.header__menu__link:hover:after{
  transition: all .5s;
  width: 100%;
}
.header__lang{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}